<div style="margin-top:100px;">
<h1 style="text-align:center;">Namastay Get ready for Laughter</h1>
<div style="text-align:center;margin-top:50px;">
  <img src="assets/images/1.jpg" style="height:300;width:300px;">
  <br><br>
  <p>
    <b>Zakir Khan<br>
      Comedy Show @7pm<
    </b>
    </p>
    <button class="button yellow" (click)="addCart()">
	<div class="title">Add to cart</div>
	<div class="price">Ticket Price @1500/-</div>
</button>
</div>
<div style="margin-top:30px;text-align:center;">
  <img src="assets/images/2.jpg" style="height:300;width:300px;">
  <br><br>
  <p>
    <b>Kapil Sharma<br>
      Comedy Show @8pm
    </b>
  </p>
  <button class="button yellow" (click)="addCart()">
	<div class="title">Add to cart</div>
	<div class="price">Ticket Price @3000/-</div>
</button>
</div>
<div class="sidenav">
    <a [routerLink]="['/profile' ]" class="w3-bar-item w3-button">My Profile</a>
    <a [routerLink]="['/edit_profile']" class="w3-bar-item w3-button">Edit Profile</a>
    <a [routerLink]="['/logout']" class="w3-bar-item w3-button">Logout</a>
  </div>
</div>
